demo/FileToSparkWeave/src/main/app/FileToSparkWeave.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sparkweave="http://www.mulesoft.org/schema/mule/sparkweave" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.3.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/sparkweave http://www.mulesoft.org/schema/mule/sparkweave/1.0/mule-sparkweave.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
    <sparkweave:config name="Sparkweave" ckUserEmail="mblock@sparkweave.com" ckPassword="123abc" ckServer="demo.sparkweave.com" doc:name="SparkWeave Connector"/>
    <flow name="FileToSparkWeaveFlow1" doc:name="FileToSparkWeaveFlow1">
        <file:inbound-endpoint path="/home/mblock/MuleStudio/Uploads" responseTimeout="100000" doc:name="Inbound File" fileAge="50000" pollingFrequency="20000"/>
        <sparkweave:upload-file config-ref="Sparkweave" path="/SharedFolder" overwrite="true" doc:name="Sparkweave" filename="#[message.inboundProperties.originalFilename]"/>
    </flow>
</mule>
