demo/FileToSparkWeave/src/main/app/FileToSparkWeave.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sparkweave="http://www.mulesoft.org/schema/mule/sparkweave" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.3.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/sparkweave http://www.mulesoft.org/schema/mule/sparkweave/1.0/mule-sparkweave.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
    <sparkweave:config name="Sparkweave" server="mblock-vm1" userEmail="mblock@sparkweave.com" password="123abc" doc:name="Sparkweave"/>
    <flow name="FileToSparkWeaveFlow1" doc:name="FileToSparkWeaveFlow1">
        <file:inbound-endpoint path="C:\Users\mblock.HQ-SPARKWEAVE\MuleStudio\Uploads" responseTimeout="10000" doc:name="Inbound File"/>
        <set-variable variableName="controllerMap" value="#[payload]" doc:name="Variable"/>
        <custom-transformer class="org.mule.filetosparkweave.transformers.FileToInputStream" doc:name="Java"/>
        <sparkweave:upload-file config-ref="Sparkweave" path="#[flowVars['controllerMap'].get('fileName')]" overwrite="true" doc:name="Sparkweave"/>
    </flow>
</mule>
